@model IEnumerable<Menaxhimi_Biblotekes.Models.Pjesemarresi>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Index" method="get">
    <div class="form-actions">
        <p>
            Kerko sipas emrit/mbiemrit: 
            <input type="text" name="search" value="@ViewData["PjesemarresiFilter"]" />
            <input type="submit" value="Kerko" class="btn btn-primary" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>@*
            <th>
                @Html.DisplayNameFor(model => model.RoliId)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Emri)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mbiemri)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Perdoruesi)
            </th>@*
            <th>
                @Html.DisplayNameFor(model => model.Fjalekalimi)
            </th>*@
         @*   <th>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedByUserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastUpdatedByUserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastUpdatedOn)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>@*
            <td>
                @Html.DisplayFor(modelItem => item.RoliId)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Emri)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mbiemri)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Perdoruesi)
            </td>@*
            <td>
                @Html.DisplayFor(modelItem => item.Fjalekalimi)
            </td>*@
          @*  <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedByUserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdatedByUserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdatedOn)
            </td>*@
            <td>
                <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i></a> |
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-card-text"></i></a> |
                <a class="btn btn-danger"  asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
