@model IEnumerable<Menaxhimi_Biblotekes.Models.Huazimi>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista e huazimeve</h1>

<table class="table">

    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DataHuazimitSort"]">@Html.DisplayNameFor(model => model.DataHuazimit)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["AfatiKthimitSort"]">@Html.DisplayNameFor(model => model.AfatiKthimit)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataKthimit)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Verejtje)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedByUserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastUpdatedByUserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastUpdatedOn)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Libri)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pjesemarresi)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DataHuazimit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AfatiKthimit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataKthimit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Verejtje)
                </td>@*
                <td>
                    @Html.DisplayFor(modelItem => item.IsDeleted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedByUserID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedOn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastUpdatedByUserID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastUpdatedOn)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Libri.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pjesemarresi.Id)
                </td>
                <td>
                  
                <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i></a> |
                <a class="btn btn-danger"  asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i></a>

                </td>
            </tr>
        }
    </tbody>
</table>
