@model IEnumerable<Menaxhimi_Biblotekes_Web.Models.Libri>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="container-fluid">

<form asp-action="Index" method="get">
    <div class="form-actions">
        <p>
            Kerko sipas titullit: 
            <input type="text" name="search" value="@ViewData["LibriFilter"]" />
            <input type="submit" value="Kerko" class="btn btn-primary" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>
<table class="table text-center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KategoriaId)
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["TitulliSort"]">@Html.DisplayNameFor(model => model.Titulli)</a>
            </th>@*
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Pershkrimi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ISBN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShtepiaBotuese)
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["VitiSort"]">@Html.DisplayNameFor(model => model.VitiBotimit)</a>
            </th>
           @* <th>
                @Html.DisplayNameFor(model => model.NrKopjeve)
            </th>*@
          @*  <th>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedByUserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastUpdatedByUserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastUpdatedOn)
            </th>*@
            <th> Huazo</th>
             <th>CRUD</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KategoriaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titulli)
            </td>@*
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Pershkrimi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ISBN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShtepiaBotuese)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VitiBotimit)
            </td>
          @*  <td>
                @Html.DisplayFor(modelItem => item.NrKopjeve)
            </td>*@
          @*  <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedByUserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdatedByUserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdatedOn)
            </td>*@
            <td>
                  <a class="btn btn-primary text-white" asp-route-id="@item.Id" asp-action="Details"><i class="bi bi-journal-plus"></i></a>

            </td>
            <td> 
        
                <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i></a> |
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-card-text"></i></a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i></a>
   
       
            </td>
        </tr>
}
    </tbody>
</table>
</div>
