@model IEnumerable<Menaxhimi_Biblotekes_Web.Models.KerkesatPerHuazim>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<table class="table">
    <thead>
        <tr>
           @* <th>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedByUserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastUpdatedByUserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastUpdatedOn)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Libri)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pjesemarresi)
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DataKerkeses"]">@Html.DisplayNameFor(model => model.DataKerkeses)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>@*
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedByUserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdatedByUserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdatedOn)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Libri.Titulli)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pjesemarresi.Emri)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataKerkeses)
            </td>
            <td>
                <a class="btn btn-success"asp-action="Edit" asp-route-id="@item.Id">Aprovo</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Refuzo</a>
            </td>
        </tr>
}
    </tbody>
</table>
