@model IEnumerable<Menaxhimi_Biblotekes_Web.Models.AutoriLibri>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AutoriId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autori.Emri)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autori.Mbiemri)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LibriId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Libri.Titulli)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Autori.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Autori.Emri)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Autori.Mbiemri)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Libri.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Libri.Titulli)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
